[package]
categories  = { workspace = true }
description = { workspace = true }
edition     = { workspace = true }
keywords    = { workspace = true }
license     = { workspace = true }
name        = "nomos-node"
readme      = { workspace = true }
repository  = { workspace = true }
version     = { workspace = true }

[package.metadata.cargo-machete]
# False positives.
ignored = [
  # Required by `wait_until_services_are_ready` macro.
  "futures",
]

[lints]
workspace = true

[dependencies]
async-trait                   = "0.1"
broadcast-service             = { workspace = true }
chain-leader                  = { workspace = true }
chain-network                 = { workspace = true, features = ["libp2p"] }
chain-service                 = { workspace = true }
clap                          = { default-features = false, features = ["derive", "env", "std"], version = "4" }
color-eyre                    = { default-features = false, version = "0.6.0" }
cryptarchia-engine            = { workspace = true }
derivative                    = { version = "2", default-features = false }
futures                       = { default-features = false, version = "0.3" }
groth16                       = { workspace = true }
hex                           = { default-features = false, version = "0.4.3" }
http                          = "1.3"
key-management-system-service = { workspace = true }
kzgrs-backend                 = { workspace = true }
nomos-api                     = { workspace = true }
nomos-blend                   = { workspace = true }
nomos-blend-service           = { features = ["libp2p"], workspace = true }
nomos-core                    = { workspace = true }
nomos-da-messages             = { workspace = true }
nomos-da-network-core         = { workspace = true }
nomos-da-network-service      = { workspace = true }
nomos-da-sampling             = { features = ["libp2p", "rocksdb-backend"], workspace = true }
nomos-da-verifier             = { features = ["libp2p"], workspace = true }
nomos-http-api-common         = { workspace = true }
nomos-ledger                  = { workspace = true }
nomos-libp2p                  = { workspace = true }
nomos-network                 = { workspace = true }
nomos-sdp                     = { workspace = true }
nomos-storage                 = { workspace = true }
nomos-system-sig              = { workspace = true }
nomos-time                    = { features = ["ntp", "serde"], workspace = true }
nomos-tracing                 = { workspace = true }
nomos-tracing-service         = { workspace = true }
nomos-utils                   = { workspace = true, features = ["serde"] }
nomos-wallet                  = { workspace = true }
num-bigint                    = { default-features = false, version = "0.4" }
overwatch                     = { workspace = true }
pol                           = { workspace = true }
poq                           = { workspace = true }
serde                         = { workspace = true }
serde_ignored                 = { workspace = true }
serde_json                    = { workspace = true }
serde_with                    = { default-features = false, version = "3.14.0" }
serde_yaml                    = { workspace = true }
services-utils                = { workspace = true }
subnetworks-assignations      = { workspace = true }
thiserror                     = { workspace = true }
tokio                         = "1"
tokio-stream                  = { default-features = false, version = "0.1" }
tracing                       = { workspace = true }
tx-service                    = { features = ["rocksdb-backend"], workspace = true }

# openapi related dependencies
utoipa = { workspace = true }
# utoipa-swagger-ui = { features = ["axum"], workspace = true }

# axum related dependencies
axum       = { default-features = false, features = ["http1", "http2", "json", "query", "tokio"], version = "0.7.5" }
time       = { default-features = false, version = "0.3" }
tower      = { default-features = false, features = ["limit"], version = "0.4" }
tower-http = { default-features = false, features = ["cors", "limit", "timeout", "trace"], version = "0.5" }

[target.'cfg(windows)'.dependencies]
# XCompiling from Unix has issues downloading assets. Use vendored instead.
# This happens locally but might not on CI.
utoipa-swagger-ui = { workspace = true, features = ["axum", "vendored"] }

[target.'cfg(not(windows))'.dependencies]
utoipa-swagger-ui = { workspace = true, features = ["axum"] }

[dev-dependencies]
test-log = { default-features = false, version = "0.2.18", features = ["trace"] }

[features]
block-explorer  = ["nomos-api/block-explorer"]
default         = ["tracing"]
instrumentation = []
profiling       = ["nomos-http-api-common/profiling", "nomos-tracing-service/profiling"]
testing         = ["key-management-system-service/unsafe"]
tracing         = []
