[package]
categories  = { workspace = true }
description = { workspace = true }
edition     = { workspace = true }
keywords    = { workspace = true }
license     = { workspace = true }
name        = "key-management-system-service"
readme      = { workspace = true }
repository  = { workspace = true }
version     = { workspace = true }

[lints]
workspace = true

[dependencies]
async-trait                = "0.1"
key-management-system-keys = { workspace = true, features = ["unsafe"] }
log                        = "0.4.22"
overwatch                  = { workspace = true }
serde                      = { workspace = true, features = ["derive"] }
thiserror                  = { default-features = false, version = "2" }
tokio                      = { default-features = false, version = "1", features = ["rt"] }
tracing                    = { default-features = false, version = "0.1" }

[dev-dependencies]
bytes         = { workspace = true }
ed25519-dalek = { default-features = false, version = "2" }
num-bigint    = { default-features = false, version = "0.4" }
rand          = { features = ["getrandom"], workspace = true }
serde         = { workspace = true, features = ["std"] }
serde_yaml    = "0.9"
zksign        = { workspace = true }
