[package]
edition = { workspace = true }
license = { workspace = true }
name    = "nomos-network"
version = "0.1.0"

[lints]
workspace = true

[dependencies]
async-trait      = "0.1"
cryptarchia-sync = { workspace = true }
futures          = { default-features = false, version = "0.3" }
nomos-core       = { workspace = true }
nomos-libp2p     = { workspace = true }
overwatch        = { workspace = true }
rand             = { features = ["std"], workspace = true }
rand_chacha      = { default-features = false, version = "0.3" }
serde            = { default-features = false, features = ["derive"], version = "1.0" }
tokio            = { default-features = false, features = ["macros", "sync"], version = "1" }
tokio-stream     = { default-features = false, version = "0.1" }
tracing          = { workspace = true }
utoipa           = { optional = true, workspace = true }

[dev-dependencies]
chrono             = { default-features = false, features = ["now"], version = "0.4" }
nomos-utils        = { workspace = true }
tokio              = { default-features = false, version = "1" }
tracing-subscriber = { default-features = false, features = ["env-filter", "fmt", "std"], version = "0.3" }

[features]
default = []
mock    = []
openapi = ["dep:utoipa"]
