[package]
categories  = { workspace = true }
description = { workspace = true }
edition     = { workspace = true }
keywords    = { workspace = true }
license     = { workspace = true }
name        = "chain-leader"
readme      = { workspace = true }
repository  = { workspace = true }
version     = { workspace = true }

[lints]
workspace = true

[dependencies]
async-trait                = "0.1"
chain-common               = { workspace = true }
chain-service              = { workspace = true }
cryptarchia-engine         = { workspace = true }
futures                    = { default-features = false, version = "0.3" }
key-management-system-keys = { workspace = true }
nomos-blend-service        = { workspace = true }
nomos-core                 = { workspace = true }
nomos-da-sampling          = { workspace = true }
nomos-ledger               = { features = ["serde"], workspace = true }
nomos-time                 = { workspace = true }
nomos-wallet               = { workspace = true }
overwatch                  = { workspace = true }
serde                      = { workspace = true }
services-utils             = { workspace = true }
thiserror                  = "1.0"
tokio                      = { default-features = false, version = "1" }
tracing                    = { workspace = true }
tracing-futures            = { default-features = false, version = "0.2" }
tx-service                 = { workspace = true }

[features]
default      = []
libp2p       = ["nomos-blend-service/libp2p"]
pol-dev-mode = ["nomos-core/pol-dev-mode"]
