[package]
categories  = { workspace = true }
description = { workspace = true }
edition     = { workspace = true }
keywords    = { workspace = true }
license     = { workspace = true }
name        = "chain-leader"
readme      = { workspace = true }
repository  = { workspace = true }
version     = { workspace = true }

[lints]
workspace = true

[dependencies]
async-trait         = "0.1"
chain-common        = { workspace = true }
chain-service       = { workspace = true }
cryptarchia-engine  = { workspace = true }
ed25519-dalek       = { default-features = false, features = ["serde"], version = "2.2.0" }
futures             = { default-features = false, version = "0.3" }
groth16             = { workspace = true }
mmr                 = { workspace = true }
nomos-blend-service = { workspace = true }
nomos-core          = { workspace = true }
nomos-da-sampling   = { workspace = true }
nomos-ledger        = { features = ["serde"], workspace = true }
nomos-time          = { workspace = true }
nomos-wallet        = { workspace = true }
overwatch           = { workspace = true }
rs-merkle-tree      = { default-features = false, version = "0.1.0", features = ["memory_store"] }
serde               = { default-features = false, version = "1" }
services-utils      = { workspace = true }
thiserror           = "1.0"
tokio               = { default-features = false, version = "1" }
tracing             = { workspace = true }
tracing-futures     = { default-features = false, version = "0.2" }
tx-service          = { workspace = true }
zeroize             = { workspace = true }
zksign              = { workspace = true }
rand = "0.8.5"

[dev-dependencies]
divan = { default-features = false, version = "0.1" }

[features]
default      = []
libp2p       = ["nomos-blend-service/libp2p"]
pol-dev-mode = ["nomos-core/pol-dev-mode"]

[[bench]]
harness = false
name    = "pol_sk"
