tracing:
  logger: !Stdout
  tracing: None
  filter: None
  metrics: None
  console: None
  level: DEBUG
network:
  backend:
    host: 0.0.0.0
    port: 3000
    node_key: ea1e1dcc31612bd20987f017f0ca435cd2a59a4bd9fd6e14883b4803ae3b803d
    initial_peers: [ ]
blend:
  non_ephemeral_signing_key: 32e4b52b78e0e8273f31e2ae0826d09b0348d4c66824af4f51ec4ef338082211
  recovery_path_prefix: ./recovery/blend
  core:
    backend:
      listening_address: /ip4/127.0.0.1/udp/3001/quic-v1
      core_peering_degree:
        start: 4
        end: 8
      edge_node_connection_timeout:
        secs: 1
        nanos: 0
      max_edge_node_incoming_connections: 300
      max_dial_attempts_per_peer: 3
    zk:
      secret_key_kms_id: 32e4b52b78e0e8273f31e2ae0826d09b0348d4c66824af4f51ec4ef338082211
  edge:
    backend:
      max_dial_attempts_per_peer_per_message: 1
      replication_factor: 1
deployment: mainnet
da:
  network:
    node_key: ea1e1dcc31612bd20987f017f0ca435cd2a59a4bd9fd6e14883b4803ae3b803d
    listening_address: /ip4/127.0.0.1/udp/8716/quic-v1
    api_port: 8722
    is_secure: false
  dispersal:
    encoder_settings:
      with_cache: false
      global_params_path: /tmp
http:
  backend_settings:
    address: 127.0.0.1:8722
    cors_origins: [ ]
time:
  backend_settings:
    slot_config:
      slot_duration: "2.0"
      chain_start_time: [ 2025, 41, 9, 38, 29, 993653000, 0, 0, 0 ]
    epoch_config:
      epoch_stake_distribution_stabilization: 3
      epoch_period_nonce_buffer: 3
      epoch_period_nonce_stabilization: 4
    base_period_length: 11
    update_interval: [ 16, 0 ]
    ntp_server: pool.ntp.org
    ntp_client_settings:
      timeout: [ 5, 0 ]
      listening_interface: 0.0.0.0
cryptarchia:
  config:
    epoch_config:
      epoch_stake_distribution_stabilization: 3
      epoch_period_nonce_buffer: 3
      epoch_period_nonce_stabilization: 4
    consensus_config:
      security_param: 10
      active_slot_coeff: 0.9
    sdp_config:
      service_params:
        BN:
          lock_period: 10
          inactivity_period: 20
          retention_period: 100
          timestamp: 0
          session_duration: 21600
        DA:
          lock_period: 10
          inactivity_period: 20
          retention_period: 100
          timestamp: 0
          session_duration: 1000
      service_rewards_params:
        blend:
          rounds_per_session: 648000
          message_frequency_per_round: 1.0
          num_blend_layers: 3
          minimum_network_size: 1
      min_stake:
        threshold: 1
        timestamp: 0
  starting_state: !Genesis
    genesis_tx:
      mantle_tx:
        ops:
          - opcode: 0
            payload:
              channel_id: "0000000000000000000000000000000000000000000000000000000000000000"
              inscription: [ 103, 101, 110, 101, 115, 105, 115 ]  # "genesis" in bytes
              parent: "0000000000000000000000000000000000000000000000000000000000000000"
              signer: "0000000000000000000000000000000000000000000000000000000000000000"
        ledger_tx:
          inputs: []
          outputs:
            - value: 1
              pk: d204000000000000000000000000000000000000000000000000000000000000
        execution_gas_price: 0
        storage_gas_price: 0
      ops_proofs: [NoProof]
      ledger_tx_proof:
        pi_a: [
          0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
          0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
        ]
        pi_b: [
          0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
          0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
          0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
          0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
        ]
        pi_c: [
          0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
          0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
        ]
  recovery_file: ./recovery/cryptarchia.json
  bootstrap:
    prolonged_bootstrap_period: [ 86400, 0 ]
    force_bootstrap: false
    offline_grace_period:
      grace_period: [ 1200, 0 ]
      state_recording_interval: [ 60, 0 ]
chain_network:
  config:
    epoch_config:
      epoch_stake_distribution_stabilization: 3
      epoch_period_nonce_buffer: 3
      epoch_period_nonce_stabilization: 4
    consensus_config:
      security_param: 10
      active_slot_coeff: 0.9
    sdp_config:
      service_params:
        BN:
          lock_period: 10
          inactivity_period: 20
          retention_period: 100
          timestamp: 0
          session_duration: 1000
        DA:
          lock_period: 10
          inactivity_period: 20
          retention_period: 100
          timestamp: 0
          session_duration: 1000
      service_rewards_params:
        blend:
          rounds_per_session: 648000
          message_frequency_per_round: 1.0
          num_blend_layers: 3
          minimum_network_size: 1
      min_stake:
        threshold: 1
        timestamp: 0
  network_adapter_settings:
    topic: /cryptarchia/proto
  bootstrap:
    ibd:
      peers: [ ]
  sync:
    orphan:
      max_orphan_cache_size: 5
cryptarchia_leader:
  transaction_selector_settings: null
  config:
    epoch_config:
      epoch_stake_distribution_stabilization: 3
      epoch_period_nonce_buffer: 3
      epoch_period_nonce_stabilization: 4
    consensus_config:
      security_param: 10
      active_slot_coeff: 0.9
    sdp_config:
      service_params:
        BN:
          lock_period: 10
          inactivity_period: 20
          retention_period: 100
          timestamp: 0
          session_duration: 21600
        DA:
          lock_period: 10
          inactivity_period: 20
          retention_period: 100
          timestamp: 0
          session_duration: 1000
      service_rewards_params:
        blend:
          rounds_per_session: 648000
          message_frequency_per_round: 1.0
          num_blend_layers: 3
          minimum_network_size: 1
      min_stake:
        threshold: 1
        timestamp: 0
  leader_config:
    pk: "0000000000000000000000000000000000000000000000000000000000000000"
    sk: 3cf3335017304dcfce45124a0633829f00000000000000000000000000000000
  blend_broadcast_settings:
    topic: /cryptarchia/proto
storage:
  db_path: nomos_db
  read_only: false
  column_family: blocks
mempool:
  pool_recovery_path: ./recovery/mempool.json
membership:
  backend:
    session_sizes:
      DA: 4320  # DataAvailability - 4320 blocks per session
    session_zero_providers: { }
sdp:
wallet:
  known_keys:
    - "0000000000000000000000000000000000000000000000000000000000000000"
key_management:
  keys:
    leader_key: !Zk 3cf3335017304dcfce45124a0633829f00000000000000000000000000000000
