[package]
categories  = { workspace = true }
description = { workspace = true }
edition     = { workspace = true }
keywords    = { workspace = true }
license     = { workspace = true }
name        = "nomos-wallet"
readme      = { workspace = true }
repository  = { workspace = true }
version     = { workspace = true }

[dependencies]
async-trait = "0.1"
bytes       = "1.0"
futures     = { default-features = false, version = "0.3" }
hex         = "0.4"
serde       = { features = ["derive"], version = "1.0" }
thiserror   = "1.0"
tokio       = { features = ["sync"], version = "1" }
tracing     = { workspace = true }

chain-service         = { workspace = true }
groth16               = { workspace = true }
key-management-system = { workspace = true }
nomos-core            = { workspace = true }
nomos-ledger          = { workspace = true }
nomos-storage         = { features = ["mock"], workspace = true }
overwatch             = { workspace = true }
services-utils        = { workspace = true }
wallet                = { workspace = true }
zksign                = { workspace = true }

[lints]
workspace = true

[package.metadata.cargo-machete]
# False positives.
ignored = [
  # Required by `wait_until_services_are_ready` macro.
  "futures",
]
